# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment variables
.env

# Local authentication data
data/
*.sqlite3
*.sqlite3-*

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Firebase & Secrets
*.json
!package.json
firebase-credentials.json

# IDEs & Editors
.vscode/
.idea/
*.swp
